        <div class="panel panel-comment">
            <div class="panel-heading comment-head">
                So and So Says...
             </div>
             <div class="panel-body comment-body">
                Blah Blah Blah 
             </div>
          </div>