<section id="news" class="text-center container-fluid">

    <a id="login" class="btn" href="/auth/google">Login With Google <i class="fa fa-google"></i></a>

    {{#each articles}} {{> article-block}} {{/each}}
</section>