<section id="news" class="text-center container-fluid">

    <button id="login" class="btn">Login With Google <i class="fa fa-google"></i></button>

    {{#each articles}} {{> article-block}} {{/each}}
</section>